<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/mainstyle.css') }}">
  <title>{{header}} Collection</title>
</head>

<body>
  <div class="grid-container">
      <div class="header">
          <h2>{{header}}</h2>
      </div>
  
      <div class="left">
        <!-- Navbar! We're on the collections page, so make sure that one's "active" -->
        <div class="vertical-menu">
          <a href="/menu">Home</a>
          <a class="active" href="/collections_main_page">Collections</a>
          <a href="/random_cocktail_generator">Random Cocktail Generator</a>
          <a href="/credits">Credits</a>
        </div>
      </div>

      <!-- The nested "for" loops for the cocktail dropdowns -->
        <!-- {They're in jinja, this took forever} -->
      <div class="middle">
          {% for i in range(cocktails|length) %}
              <details>
                  <summary> <a href="/resippy/{{cocktails[i]}}">{{cocktails[i]}}</a></summary>
                      {% for ingredient in ingredients[i] %}
                      &emsp;&emsp;{{ingredient}}<br>
                      {% endfor %}
                      <br>
                      &emsp;&emsp;Bartender's note: {{notes[i]}}
              </details>
              <br>
          {% endfor %}
      </div>  
  
    <div class="footer">
      <p>Footer</p>
    </div>

  </div>
</body>

</html>