<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/mainstyle.css') }}">
  <title>Main Menu</title>
</head>

<body>
  <div class="grid-container">
      <div class="header">
          <h2>{{header}}</h2>
      </div>
  
      <div class="left">
        <!-- Navbar! We're on the collections page, so make sure that one's "active" -->
        <div class="vertical-menu">
          <a href="/menu">Home</a>
          <a class="active" href="/collections">Collections</a>
          <a href="/random-cocktail-generator">Random Cocktail Generator</a>
        </div>
      </div>

      <!-- The nested "for" loops for the cocktail dropdowns -->
        <!-- {They're in jinja, this took forever} -->
      <div class="middle">
          {% for i in range(cocktails|length) %}
              <details>
                  <summary>{{cocktails[i]}}</summary>
                      {% for ingredient in ingredients[i] %}
                      &emsp;&emsp;{{ingredient}}<br>
                      {% endfor %}
              </details>
          {% endfor %}
      </div>  
  
    <div class="footer">
      <p>Footer</p>
    </div>

  </div>
</body>

</html>