<!DOCTYPE html>
<html>
<head>
    <title>Flask Dropdown Example</title>
    <style>
        .highlighted {
            background-color: yellow;
        }
    </style>
</head>
<body>
    <form method="POST">
        <select name="dropdown">
            {% for option in options %}
            <option value="{{ option }}">{{ option }}</option>
            {% endfor %}
        </select>
        <button type="submit">Submit</button>
    </form>

    <p></p>

    <ul>
        {% for ingredient in ingredients %}
        {% if ingredient in chosen_ingredients %} 
        <li class="highlighted">{{ingredient}}</li>
        {% else %}
        <li>{{ingredient}}</li>
        {% endif %}
        {% endfor%}
    </ul>

</body>
</html>