<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/mainstyle.css') }}">
    <title>404 Error Page</title>
</head>

<body>
    <div class="grid-container">
        <div class="header">
        </div>
    
        <div class="left">
          <!-- Navbar! We're not on any menu page, so don't set any of them active -->
          <div class="vertical-menu">
            <a href="/menu">Home</a>
            <a href="/collections">Collections</a>
            <a href="/random-cocktail-generator">Random Cocktail Generator</a>
          </div>
        </div>
  
        <div class="middle">
            <p>Oops, that page doesn't exist</p>
        </div>  
    
      <div class="footer">
        <p>Footer</p>
      </div>
  
    </div>
  </body>

  </html>