<table>
            
            {% set cols = 3 %}
            {% for key in baseSpirits %}
                
                {% set count = namespace(value=(baseSpirits|length/cols)|round | int) %}
                <tr><td><strong>{{key}}</strong></td></tr>
               
                {% if baseSpirits[key]|length < cols %}
                    <tr>
                    {% for val in baseSpirits[key] %}
                        <td><a href="/resippy/{{val}}">{{val}}</a></td>
                    {% endfor %}
                    </tr>
                {% else %}
                    {% for i in range((baseSpirits[key]|length / cols)|round()|int) %}
                        <tr>
                            {% for j in range(cols) %}
                            <td><a href="/resippy/{{baseSpirits[key][count.value + j - 1]}}">{{baseSpirits[key][count.value + j - 1]}}</a> </td>
                            <!-- <td>{{baseSpirits[key][count.value + 1]}}</td>
                            <td>{{baseSpirits[key][count.value + 2]}}</td> -->
                            {% endfor %}
                        </tr>
                        {% set count.value = count.value + 3 %}
                    {% endfor %}

                {% endif %}
            {% endfor %}

            </table>


