<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/mainstyle.css') }}">
    <title>Inventory</title>
</head>

<body>
    <div class="grid-container">
        <div class="header">
          <h2>Inventory</h2>
        </div>
    
        <div class="left">
          <!-- Navbar! We're not on any menu page, so don't set any of them active -->
          <div class="vertical-menu">
            <a href="/menu">Home</a>
            <a href="/collections_main_page">Collections</a>
            <a href="/random_cocktail_generator">Random Cocktail Generator</a>
            <a href="/credits">Credits</a>
          </div>
        </div>
  
        <div class="middle">
          <table id="tbl">
            {% for key in categories %}
              <tr><td><strong>{{key}}</strong></td></tr>
              {% set count = namespace(value=0) %}
              {% if categories[key]|length < 3 %}
                {% for val in categories[key] %}
                  <tr><td>{{val}}</td></tr>
                {% endfor %}
              {% else %}
                {% for i in range((categories[key]|length / 3)|round()|int) %}
                <tr>
                  <td>{{categories[key][count.value]}}</td>
                  <td>{{categories[key][count.value + 1]}}</td>
                  <td>{{categories[key][count.value + 2]}}</td>
                </tr>
                {% set count.value = count.value + 3 %}
                {% endfor %}
                <tr><td></td></tr>
                <tr><td></td></tr>
              {% endif %}
            {% endfor %}
          </table>
        </div>  
    
      <div class="footer">
        <a href="/put_away_ingredient">♫♪♪ Clean up, clean up ♫♪♪</a> <br>
        <a href="/modify_spirits">Add a new spirit</a>
      </div>
  
    </div>
  </body>

  </html>