<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/mainstyle.css') }}">
    <title>Main Menu</title>
</head>

<body>
    <div class="grid-container">
        <div class="header">
            <h2>Welcome to the Main Menu!</h2>
        </div>
  
        <div class="left">
            <!-- Navbar! We're on the homepage, so make sure that one's "active" -->
            <div class="vertical-menu">
                <a class="active" href="/menu">Home</a>
                <a href="/collections_main_page">Collections</a>
                <a href="/random_cocktail_generator">Random Cocktail Generator</a>
                <a href="/credits">Credits</a>
            </div>
        </div>

    <div class="middle">

        <!-- Anything in the "name" field gets sent as a dictionary key in POST -->
        <p>Know the name of the drink you want?</p>
        <form id="cocktail" method="POST">
            <label for="cocktail-input">Cocktail Name</label><br>
            <input list="cocktails" id="cocktail-input" name="cocktail input">
            <datalist id="cocktails">
                {% for option in options %}
                <option value="{{ option }}">{{ option }}</option>
                {% endfor %}
            </datalist>
            <button form="cocktail" type="submit">Light em up</button>
        </form>

        <hr>
    
        <p>Prefer to browse the options instead?</p>
        <form method="POST">
            <label for="collection-select">Sort by</label><br>
            <select id="collection-select" name="collection dropdown">
                {% for collection in collections %}
                <option value="{{ collection }}">{{ collection }}</option>
                {% endfor %}
            </select>
            <button type="submit">Go</button>
        </form>

        <br><br>

        <!-- <hr>
        <p>Recipe</p>

        <hr>
        <p>This is a proxy for the LED setup</p>
        <ul>
            {% for ingredient in ingredients %}
            {% if ingredient in chosen_ingredients %} 
            <li class="highlighted">{{ingredient}}</li>
            {% else %}
            <li>{{ingredient}}</li>
            {% endif %}
            {% endfor%}
        </ul> -->

    </div>  
  
  <div class="footer">
    <p>Bottom text</p>
  </div>
</div>

</body>
</html>
