<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/mainstyle.css') }}">
    <title>Random cocktail generator</title>
</head>

<body>
    <div class="grid-container">
        <div class="header">
            <h2>Random Cocktail Generator</h2>
        </div>
    
        <div class="left">
          <!-- Navbar! We're not on any menu page, so don't set any of them active -->
          <div class="vertical-menu">
            <a href="/menu">Home</a>
            <a href="/collections_main_page">Collections</a>
            <a class="active" href="/random_cocktail_generator">Random Cocktail Generator</a>
            <a href="/credits">Credits</a>
          </div>
        </div>
  
        <div class="middle">
            
            <form id="random" method="POST">
            
            <p>Feeling the decision paralysis? Pick a random recipe from our menu</p>
            <button form="random" type="submit" name="random existing">I'm feeling lucky</button>
            
            <p>Or choose a flavor profile to generate 10 random cocktails</p>
                {% for i in range(rand_options|length) %}
                &emsp; <button type="submit" name="{{rand_options[i]}}">{{rand_options[i]}}</button>
                {% endfor %}
                &emsp; <button form="random" type="submit" name="Random Random">Random Random</button><br>

            <br>
            <p style="text-align: center;">Random recipes</p>

            <!-- it's fixed but CURSED -->             
             {% for row in range(rows)%}
                <div class="button-container">
                    {% for j in range(cocktails[row]|length) %}
                        <!-- It thinks this is an error but it just... isn't -->
                        <button style="background-color:{{button_color[j+row*cols]}};" type="submit" name="{{j + row*cols}}">
                            {% for i in range(cocktails[row][j][0]|length) %}
                                {{cocktails[row][j][0][i]}}<br>
                                &emsp;{{cocktails[row][j][1][i]}}<br>
                            {% endfor %}
                        </button>
                    {% endfor %}
                </div>
            {% endfor %}

            <!-- <div class="button-container">
                {% set index = 5%}
                {% for cocktail in cocktails[1] %}
                    <button type="submit" name="{{index}}">
                        {% for i in range(cocktail[0]|length) %}
                            {{cocktail[0][i]}}<br>
                            &emsp;{{cocktail[1][i]}}<br>
                        {% endfor %}
                    </button>
                    {% set index = index + 1%}
                {% endfor %}
            </div> -->


            </form>

        </div>  
    
      <div class="footer">
        <p>Footer</p>
      </div>
  
    </div>
  </body>

  </html>