<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/mainstyle.css') }}">
    <title>404 Error Page</title>
</head>

<body>
    <div class="grid-container">
        <div class="header">
        </div>
    
        <div class="left">
          <!-- Navbar! We're not on any menu page, so don't set any of them active -->
          <div class="vertical-menu">
            <a href="/menu">Home</a>
            <a href="/collections">Collections</a>
            <a href="/random_cocktail_generator">Random Cocktail Generator</a>
          </div>
        </div>
  
        <div class="middle">
            <form id="random" method="POST">
                {% for i in range(rand_options|length) %}
                &emsp; <button type="submit" name="{{rand_options[i]}}">{{rand_options[i]}}</button>
                {% endfor %}
                &emsp; <button form="random" type="submit" name="Random Random">Random Random</button><br>

            <p>Random recipes for you:</p><br>

            <!-- fix this later -->
            <div class="button-container">
                {% for j in range(cocktails[0]|length) %}
                    <button type="submit" name="{{j}}">
                        {% for i in range(cocktails[0][j][0]|length) %}
                            {{cocktails[0][j][0][i]}}<br>
                            &emsp;{{cocktails[0][j][1][i]}}<br>
                        {% endfor %}
                    </button>
                {% endfor %}
            </div>

            <div class="button-container">
                {% for j in range(cocktails[1]|length) %}
                    <button type="submit" name="{{j}}">
                        {% for i in range(cocktails[1][j][0]|length) %}
                            {{cocktails[1][j][0][i]}}<br>
                            &emsp;{{cocktails[1][j][1][i]}}<br>
                        {% endfor %}
                    </button>
                {% endfor %}
            </div>


            </form>

        </div>  
    
      <div class="footer">
        <p>Footer</p>
      </div>
  
    </div>
  </body>

  </html>