<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/mainstyle.css') }}">
    <title>Title</title>

    <script>
        var madeList = false

        function dropDown(listItems, checkedItems){
            // Callback for dropdownInput.onClick
            // Opens the dropdown and keeps it there. We don't want clicking the input box to keep toggling the dropdown
            // back and forth, so here's a one-way ticket

            if (!madeList){
                makeList(listItems, checkedItems);
                madeList = true;
            }

            var arrow = document.getElementById('dropdownArrow');
            var checkList = document.getElementById('tagsDropdown');
            var button = document.getElementById('dropdownButton');
            if (!checkList.classList.contains("visible")){
                checkList.classList.toggle("visible");
                arrow.classList.toggle("rotate-up");
                button.classList.toggle("pressed");
            }
        }
        
        function toggleDropdown() {
            // Callback for dropdownButton.onClick
            // Opens and closes the dropdown menu
            var checkList = document.getElementById('tagsDropdown');
            var button = document.getElementById('dropdownButton');
            var arrow = document.getElementById('dropdownArrow');
            
            // Ah, glorious 'toggle'. If it's on, turn it off. Etc etc
            button.classList.toggle("pressed");
            arrow.classList.toggle("rotate-up");
            checkList.classList.toggle("visible");
        }

        function filterFunction() {
            // Limits the visible dropdown options as you type in the "Search" input
            var input, filter, li, a, i;
            input = document.getElementById("dropdownInput");
            filter = input.value.toUpperCase();
            div = document.getElementById("tagsDropdown");
            const checkboxes = div.querySelectorAll("ul input");
            const labels = div.querySelectorAll("ul label");
            // Loop through the checkboxes. If they're selected or they match the search value, keep them visible
            for (i = 0; i < checkboxes.length; i++) {
                box = checkboxes[i];
                lab = labels[i];
                txtValue = lab.textContent || lab.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1 || box.checked) {
                    box.style.display = "";
                    lab.style.display = "";
                } else {
                    box.style.display = "none";
                    lab.style.display = "none";
                }
            }
        }

        function makeList(listItems, checkedItems){
            // Dynamically makes the checklist that lives in dropdownItems so I can pre-check the appropriate boxes
            // Recreates:
            //      {% for tag in tagList %}
            //      <li><input type="checkbox" id="{{tag}}" name="{{tag}}"/><label for="{{tag}}">{{tag}}</label></li>
            //      {% endfor %}
            
            var dropdown = document.getElementById('dropdownItems');

            for (fruit of listItems){
                // var fruit = listItems[i];
                // var myList = document.getElementById(fruit)

                var listElement = document.createElement('li');
                var checkElement = document.createElement('input');
                var labelElement = document.createElement('label');

                checkElement.type = "checkbox";
                checkElement.id = fruit;
                checkElement.name = fruit;
                if (checkedItems.includes(fruit)){
                    checkElement.checked = true;
                }

                labelElement.htmlFor = fruit;
                labelElement.innerHTML = fruit;
                checkElement.appendChild(labelElement);
                // myList.appendChild(checkElement);
                listElement.appendChild(checkElement);

                dropdown.appendChild(listElement);
                dropdown.appendChild(checkElement);
                dropdown.appendChild(labelElement);
                
            }

            enableButton2()
        }

        function enableButton2() {
            document.getElementById("button2").disabled = false;
        }

    </script>
</head>

<body>
    <div class="grid-container">
        <div class="header">
        </div>
    
        <div class="left">
          <!-- Navbar! We're not on any menu page, so don't set any of them active -->
          <div class="vertical-menu">
            <a href="/menu">Home</a>
            <a href="/collections_main_page">Collections</a>
            <a href="/random_cocktail_generator">Random Cocktail Generator</a>
            <a href="/credits">Credits</a>
          </div>
        </div>
  
        <div class="middle">
            <div id="tagsDropdown" class="dropdown-check-list" tabindex="100">
                <span class="anchor">
                    <input type="text" placeholder="Search..." id="dropdownInput" 
                        onkeyup="filterFunction()" 
                        onclick="dropDown({{testList}}, ['Apple', 'Banana'])">
                    <button class="dropdown-button" type="button" id="dropdownButton" onclick="toggleDropdown()">
                        <i class="arrow" id="dropdownArrow"></i>
                    </button>
                </span>
                <ul class="items" id="dropdownItems" name="dropdownItems">
                    <!-- The items in this dropdown are dynamically created in makeList() -->
                    <!-- {% for tag in tagList %}
                        <li id="{{tag}}"></li>
                    {% endfor %} -->

                    <!-- <li><input type="checkbox" id="apple" name="apple"/><label for="apple">Apple</label></li>
                    <li><input type="checkbox" />Orange</li>
                    <li><input type="checkbox" />Grapes </li>
                    <li><input type="checkbox" />Berry </li>
                    <li><input type="checkbox" />Mango </li>
                    <li><input type="checkbox" />Banana </li>
                    <li><input type="checkbox" />Tomato</li> -->
                </ul>
            </div>

            <input type="button" id="button2" value="button 2" disabled />


        </div>  
    
      <div class="footer">
        <a href="/put_away_ingredient">♫♪♪ Clean up, clean up ♫♪♪</a> <br>
        <a href="/modify_spirits">Add a new spirit</a>
      </div>
  
    </div>
  </body>

  </html>