:root {
  --main-bg-color: #bbb;
}

/* Set up highlighted font for dummy leds, get rid of this eventually*/
.highlighted {
    background-color: rgb(204, 0, 255);
}

/* General body style params */
body {
    font-family: Georgia, 'Times New Roman', Times, serif
    }

/* Not sure what this one is exactly, I think it's page grid layout */
/* * {
box-sizing: border-box;
} */

/* Set up the grid container. Two columns, three rows */
/* https://www.w3schools.com/css/css_grid_item.asp */
.grid-container {
display: grid;
grid-template-columns: 15% auto;
grid-template-rows: auto auto auto; 
/* width: 100vw; */
} 

/* Style the left column */
.left {
    grid-column: 1 / span 1; /* Starts in column 1, spans 1 column. etc etc */
    grid-row: 1 / span 3;
    background-color: #579cba;
    padding: 10px;
    min-height: 250px;
}

/* Style the header */
.header {
    grid-column: 2 / end;
    grid-row: 1 / span 1;
    background-color: #f1f1f1;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 30px;
}

/* Style the middle column */
.middle {
grid-column: 2 / end;
grid-row: 2 / span 1;
padding: 10px;
background-color: var(--main-bg-color);
width: end;
}

/* Style the footer */
.footer {
grid-column: 1 / end;
grid-row: 3 / span 1;
background-color: #f1f1f1;
padding: 10px;
text-align: center;
}

/* Navbar */
.vertical-menu{
    padding: 10px;
    width: 13%; /* Just under the column width */
    position: fixed; /* Make it stay in place when you scroll */
}

/* Style the elements <a> inside the navbar */
.vertical-menu a {
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 5px 5px 16px 16px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}

/* Style the navbar "active" element, e.g which one we're on */
.vertical-menu a.active {
    background-color: #04AA6D;
    color: white;
    }

/* Style the navbar hover */
.vertical-menu a:hover {
    background-color: #555;
    color: white;
    }

.button-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;

  @media (min-width: 415px) {
    grid-template-columns: repeat(auto-fit, minmax(150px, max-content));
    justify-content: center;
  }

  margin: 20px;
  padding: 10px;
}

a:link {
  color: black;
  background-color: transparent;
}

button {
    text-align: left;
    /* border: none; */
    /* border-radius: 8px; */
    padding: 3px 10px;
}

table, th, td {
  border: 1px solid #bbb;
}


nav ul{overflow:hidden; overflow-y:scroll;}

/* ------ Dropdown checklist ------ */
.dropdown-check-list {
  display: inline-block;
}

.dropdown-check-list .anchor {
  position: relative;
  /* cursor: pointer; */
  display: inline-block;
  /* padding: 5px 50px 5px 10px; */
  /* border: 1px solid #ccc; */
}

.dropdown-check-list ul.items {
  padding: 2px;
  display: none;
  margin: 0;
  border: 1px solid #ccc;
  border-top: none;
  max-height:70px;
  max-height:auto;
  overflow:hidden; 
  overflow-y:scroll;
}

.dropdown-check-list ul.items li {
  list-style: none;
}

/* .dropdown-check-list.visible .anchor {
  color: #0094ff;
} */

.dropdown-check-list.visible .items {
  display: block;
}

/* toggles */
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  /* margin-left: 10px; */
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.rotate-up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.dropdown-button {
  /* border: 2px solid black; */
  border: none;
  background-color: var(--main-bg-color);
  /* background-color: white; */
  color: black;
  /* padding-right: 40px; */
  width: max-content;
  max-height: fit-content;
  font-size: 16px;
  font-weight: bold;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); */
}

.dropdown-button.pressed {
    background-color:white;
}   

.dropdown-button.vivid {
    background-color:green;
}   

#tagsDropdown {
    font-size:16px;
    /* margin: 20px 20px 10px 10px; */
    /* padding: 5px 5px 5px 0px; */
    /* background-color: white; */
    background-color: var(--main-bg-color);
    max-height: fit-content;
    /* max-width: 200px; */
}
